@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@600&display=swap");

:root {
  --gap: 15px;
}

* {
  margin: 0;
}

body {
  background-color: #151515;
}

textarea {
  resize: none;
}

header {
  text-decoration: none;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 20px;
  background-color: #151515;
}

a,
u {
  text-decoration: none;
  color: white;
}

.alink {
  color: #909090;
}

p {
  margin: 0;
}

.display {
  display: none;
}

.header-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex1 {
  width: 150px;
}

.flex1-bis {
  width: 380px;
  display: flex;
  justify-content: center;
}
.flex2 {
  flex: 3;
}

.search-header {
  width: 100%;
  height: 45px;
  background-color: #3b3b3b;
  border: none;
  border-radius: 30px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.search-header::placeholder {
  color: #b7b7b7;
}

.search-header:hover {
  background-color: white;
  border: none;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: "Audiowide", cursive;
  padding-left: 30px;
  letter-spacing: 4px;
  font-weight: bold;
}

.menu-icon-header {
  display: none;
}

.list-option-header {
  display: flex;
  gap: 15px;
}

.options-header {
  color: white;
  font-family: "Anybody", sans-serif;
  font-size: 16px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.options-header-user {
  color: white;
  font-family: "Anybody", sans-serif;
  font-size: 16px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.options-header-user:hover {
  color: white;
  font-family: "Anybody", sans-serif;
  font-size: 16px;
  border-bottom: 2px solid rgb(228, 136, 44);
}

.options-header-log {
  color: white;
  font-family: "Anybody", sans-serif;
  font-size: 16px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.options-header-log:hover {
  color: white;
  font-family: "Anybody", sans-serif;
  font-size: 16px;
  border-bottom: 2px solid rgba(255, 0, 0, 0.715);
  cursor: pointer;
}

.options-header:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
  box-sizing: border-box;
}

.home-flex {
  display: flex;
  gap: 10px;
  margin-top: 50px;
}

/* -------------------- SIDE BANNER SECTION -------------------- */

.side-banner {
  margin-top: 20px;
  margin-left: 30px;
  min-width: 192px;
}

.side-banner-resp {
  display: none;
}

.side-banner-style {
  position: sticky;
  top: 0;
  overflow-x: scroll;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.nav-icon {
  display: flex;
  padding: 4px;
  align-items: center;
}

.nav-icon:hover {
  text-shadow: rgba(255, 255, 255, 0.73) 1px 0 5px;
}

.nav-icon:hover .icon-class {
  background-color: #fff;
  color: #151515;
}

.icon-class {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  border-radius: 5px;
  width: 26px;
  height: 26px;
}

.side-banner p {
  color: white;
  font-family: "Rajdhani", sans-serif;
  font-size: 17px;
  margin-left: 4px;
  padding: 3px;
  letter-spacing: 1px;
}

.side-section {
  margin-top: 40px;
  margin-bottom: 20px;
}

.side-title {
  color: white;
  font-family: "Anybody", sans-serif;
  font-size: 25px;
  margin-bottom: 10px;
}

/* -------------------- HOME SECTION -------------------- */

.parent-box-info {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background: rgb(185, 255, 9);
  background: linear-gradient(
    0deg,
    rgb(167, 104, 212) 0%,
    rgb(248, 127, 246) 100%
  );
  width: auto;
  margin: 40px 30px;
}

.box-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #535353;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.box-info-circle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #3b3b3b86;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.box-info-circle:hover {
  cursor: pointer;
  color: #333333;
}

.p-rawg {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.listing-games {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  padding: 0 0 0 15px;
}

.listing-games-wish-fav {
  margin-left: 20px;
  display: flex;
  flex: 1;
}

.card-game {
  position: relative;
  background-color: #272727;
  border-radius: 10px;
  margin-left: 15px;
  margin-bottom: 20px;
  height: 260px;
  width: calc(100% / 6 - 20px);
  box-sizing: border-box;
}

.card-game-fav-wish {
  position: relative;
  background-color: #272727;
  border-radius: 10px;
  margin-left: 15px;
  margin-bottom: 20px;
  height: 260px;
  width: 250px;
  box-sizing: border-box;
}

.card-more {
  position: relative;
  margin-left: 15px;
  margin-bottom: 20px;
  height: 300px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-more {
  background-color: #3e3d3d;
  padding: 10px;
  width: 120px;
  text-align: center;
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: bold;
  border-radius: 5px;
}

.load-more:hover {
  cursor: pointer;
  opacity: 80%;
}

.game-title {
  color: white;
  font-family: "Alexandria", sans-serif;
  font-size: 22px;
  height: 65px;
  box-sizing: border-box;
  padding: 6px 10px 0 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-title-lower {
  color: white;
  font-family: "Alexandria", sans-serif;
  font-size: 19px;
  height: 65px;
  box-sizing: border-box;
  padding: 6px 10px 0 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reduce-font-size {
  font-size: 1.2rem;
}

.game-title:hover {
  opacity: 50%;
  transition: ease-out 0.2s;
}

.card-like-infos {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.game-infos-home {
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 11px;
  word-spacing: 3px;
  background-color: #3d3d3d;
  border-radius: 5px;
  padding: 6px;
  height: 14px;
}

.game-infos-2-home {
  font-size: 23px;
}

.game-infos-home:hover,
.game-infos-2-home:hover {
  cursor: default;
}

.game-delete {
  color: rgb(0, 0, 0);
  text-align: center;
  width: 20px;
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 8px;
  right: 12px;
  height: fit-content;
  z-index: 6;
}

.game-delete:hover {
  color: red;
  cursor: pointer;
}

.carousel-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 160px;
  object-fit: cover;
  image-rendering: auto;
}

/* -------------------- WISHLIST SECTION -------------------- */

.wishlist-page {
  margin-top: 50px;
}

.navigation-fav {
  display: flex;
  width: 85vw;
}

.box-info-null {
  min-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.info-null {
  color: rgb(192, 192, 192);
  font-family: Tahoma, sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
}

/* -------------------- PLATFORMS SECTION -------------------- */

.platform-page {
  display: flex;
  gap: 10px;
  margin-top: 50px;
}

.title-home {
  color: white;
  font-size: 65px;
  letter-spacing: 2px;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: 10px;
}

h1 {
  margin: 0;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.listing-platform {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-platform {
  margin-left: 15px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.title-platform:hover {
  cursor: pointer;
  opacity: 40%;
}

.card-platform img {
  width: 270px;
  height: 280px;
  border-radius: 6px;
  object-fit: cover;
  object-position: center;
}

.title-platform {
  margin-top: 80px;
  text-decoration: underline;
  color: white;
  font-size: 26px;
  font-family: "Vazirmatn", sans-serif;
  position: absolute;
  text-shadow: rgb(67, 67, 67) 1px 0 10px;
  background-color: rgba(0, 255, 255, 0);
  z-index: 1;
  text-align: center;
}

.card-platform {
  position: relative;
}
.card-platform:after {
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  border-radius: 6px;

  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.26516544117647056) 10%,
    rgba(45, 45, 45, 0.8954175420168067) 53%,
    rgb(34, 34, 34) 70%
  );

  height: 100%;
  z-index: 0;
}

.trending-platforms {
  bottom: 0;
  margin-bottom: 10px;
  position: absolute;
  font-size: 13px;
  font-family: "Noto Sans Thai", sans-serif;
  width: 240px;
  background-color: none;
  color: rgb(180, 180, 180);
  z-index: 2;
  border-top: 1px solid rgba(128, 128, 128, 0.339);
  padding-top: 14px;
}

.platform-infos {
  display: flex;
  justify-content: space-between;
}

.game-name {
  text-decoration: underline;
}

.game-name:hover {
  cursor: pointer;
  opacity: 60%;
}

.game-num {
  color: #5b5a5a;
  display: flex;
  gap: 2px;
}

/* -------------------- PROFILE SECTION -------------------- */

.your-profile-style {
  margin-top: 30px;
  margin-left: 20px;
  max-width: 400px;
  border-left: 1px solid rgba(128, 128, 128, 0.349);
}

.profile-element {
  margin-bottom: 40px;
  margin-left: 20px;
}

.style-info-user {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: Tahoma, sans-serif;
  margin-left: 10px;
}

.profile-title {
  color: #b4b4b4;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 25px;
  margin-bottom: 5px;
}

.style-info-fwr {
  display: flex;
}

.profile-number {
  color: #ffffff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 25px;
  margin-bottom: 5px;
  margin-left: 10px;
}

/* -------------------- JOIN & LOGIN SECTION -------------------- */

.join-us-section {
  /* height: calc(100% - 70px); */
  height: 100vh;
  background-image: linear-gradient(
      180deg,
      rgba(21, 21, 21, 1) 1%,
      rgba(21, 21, 21, 0.8085828081232493) 39%
    ),
    url("./img/akuma.jpg");
  background-size: cover;
}

.login-section {
  /* height: calc(100% - 70px); */
  height: 100vh;
  background-image: linear-gradient(
      180deg,
      rgba(21, 21, 21, 1) 1%,
      rgba(21, 21, 21, 0.8085828081232493) 39%
    ),
    url("./img/cyberpunk.jpg");
  background-size: cover;
  background-position: center;
}

.password-style {
  position: relative;
  display: flex;
}
.button-see-pass {
  color: rgba(178, 178, 178, 0.616);
  font-size: 14px;
  position: absolute;
  right: 15px;
  top: 16px;
}

.button-see-pass:hover {
  cursor: pointer;
}

.button-unsee-pass {
  display: none;
  position: absolute;
}

.joinin-rule {
  color: white;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 12px;
}

.flex-join {
  width: 100vw;
  height: 83vh;
  margin-top: 100px;
}

.signup-join-element {
  display: flex;
  justify-content: center;
  gap: 250px;
  align-items: center;
}

.rules-joinin {
  display: flex;
  justify-content: center;
}

.LEFT-join {
  display: flex;
  flex-direction: column;
  background-color: rgba(79, 79, 44, 0);
  padding-bottom: 130px;
}

.RIGHT-join {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 370px;
  background-color: rgba(79, 79, 44, 0);
  padding-bottom: 120px;
}

.signup {
  background-color: rgba(79, 79, 44, 0);
  font-size: 40px;
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 35px;
}

.input-join {
  background-color: rgba(110, 110, 110, 0.165);
  padding-left: 15px;
  border: none;
  border-radius: 7px;
  height: 50px;
  width: 300px;
  font-size: 18px;
  margin-bottom: 15px;
  outline: none;
  color: white;
}

.input-join-alert {
  background-color: rgba(255, 0, 0, 0.254);
  padding-left: 15px;
  border: none;
  border-radius: 7px;
  height: 50px;
  width: 300px;
  font-size: 18px;
  margin-bottom: 15px;
  outline: none;
  color: white;
}

.alert-text {
  text-align: center;
  color: red;
  margin-top: 10px;
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.alert-none {
  display: none;
}

.signup-input {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  background-color: rgba(79, 79, 44, 0);
}

.signup-button {
  height: 50px;
  width: 315px;
  background-color: white;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
}

.login-button {
  height: 50px;
  width: 315px;
  background-color: white;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
}

.signup-button:hover {
  cursor: pointer;
  background-color: #cbcbcb;
}

.login-button:hover {
  cursor: pointer;
  background-color: #cbcbcb;
}

.already-member {
  background-color: rgba(79, 79, 44, 0);
  margin-top: 20px;
  text-decoration: underline;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  text-align: center;
}

.already-member:hover {
  cursor: pointer;
  color: gray;
}

.already-member {
  background-color: rgba(79, 79, 44, 0);
  margin-top: 20px;
  text-decoration: underline;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  text-align: center;
}

.not-member {
  background-color: rgba(79, 79, 44, 0);
  padding-top: 30px;
  text-decoration: underline;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  text-align: center;
}

.forgot-member {
  background-color: rgba(79, 79, 44, 0);
  padding-top: 10px;
  text-decoration: underline;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  text-align: center;
}

.not-member,
.forgot-member {
  cursor: pointer;
}

.button-facebook {
  background-color: rgb(41, 81, 188);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 300px;
  border-radius: 6px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 200;
  font-size: 17px;
  margin-bottom: 15px;
  gap: 10px;
}

.button-twitter {
  background-color: rgb(41, 139, 188);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 300px;
  border-radius: 6px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 200;
  font-size: 17px;
  margin-bottom: 15px;
  gap: 10px;
}

.button-steam {
  background-color: rgb(15, 37, 69);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 300px;
  border-radius: 6px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 200;
  font-size: 17px;
  margin-bottom: 15px;
  gap: 10px;
}

.button-steam,
.button-facebook,
.button-twitter,
.side-title,
.side-section > p {
  cursor: pointer;
}

/* -------------------- GAME DETAILS SECTION -------------------- */

.game-details-page {
  margin-top: 60px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.flex-game-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;
}

.game-left-element {
  padding-right: 40px;
  /* width: 450px; */
  display: flex;
  flex-direction: column;
  flex: 1;
}

.box-img {
  display: flex;
  flex: 1;
}

.game-img img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
}

.listing-platforms {
  display: flex;
}

.platform-style {
  display: flex;
  align-items: center;
  padding-right: 7px;
}

.game-title-top {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  font-size: 58px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.genre-metascore {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.genres-style {
  color: #fff;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-right: 3px;
}

.genres-style-web {
  color: #fff;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.genres-element {
  display: flex;
  gap: 3px;
}
.style-details {
  font-family: "Bai Jamjuree", sans-serif;
  color: #6e6e6e;
  font-size: 20px;
  margin-bottom: 5px;
}

.style-details-about {
  font-family: "Bai Jamjuree", sans-serif;
  color: #6e6e6e;
  font-size: 20px;
  margin-bottom: 5px;
}

.style-details-web {
  margin-top: 20px;
  font-family: "Bai Jamjuree", sans-serif;
  color: #6e6e6e;
  font-size: 20px;
  margin-bottom: 5px;
}

.style-details-date {
  font-family: "Bai Jamjuree", sans-serif;
  color: #6e6e6e;
  font-size: 20px;
  margin-bottom: 5px;
}

.genres-style-date {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.category-about {
  margin-bottom: 10px;
}

.game-description {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: white;
}

.right-elem-game-info {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 40px;
  height: 200px;
  width: 120px;
}

.scoring-box {
  display: flex;
  justify-content: flex-end;
  width: 90px;
}

.style-metascore {
  display: flex;
  flex-direction: column;
  max-width: 35px;
  align-items: flex-end;
}

.data-score {
  font-family: "Text Me One", sans-serif;
  padding: 3px;
  font-size: 22px;
  border: 1px solid rgb(18, 219, 18);
  border-radius: 4px;
  min-width: 30px;
  padding: 3px;
  text-align: center;
  color: rgb(18, 219, 18);
}

.data-score-mid {
  font-family: "Text Me One", sans-serif;
  font-size: 22px;
  border: 1px solid rgb(255, 153, 0);
  border-radius: 4px;
  min-width: 30px;
  padding: 3px;
  text-align: center;
  color: rgb(255, 153, 0);
}

.data-score-low {
  font-family: "Text Me One", sans-serif;
  font-size: 22px;
  border: 1px solid rgb(219, 48, 22);
  border-radius: 4px;
  min-width: 30px;
  padding: 3px;
  text-align: center;
  color: rgb(219, 48, 22);
}

.button-fav {
  background-color: white;
  width: 102px;
  padding: 5px;
  margin-top: 20px;
  font-size: 12px;
  font-family: "Epilogue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
}

.button-fav-2 {
  background-color: white;
  width: 112px;
  height: 27px;
  padding: 5px;
  margin-top: 20px;
  font-size: 12px;
  font-family: "Epilogue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
  border: 1px solid red;
  box-sizing: border-box;
}

.button-wish-2 {
  background-color: white;
  width: 112px;
  height: 27px;
  padding: 5px;
  margin-top: 20px;
  font-size: 12px;
  font-family: "Epilogue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
  border: 1px solid rgb(255, 157, 0);
  box-sizing: border-box;
}

.button-fav:hover,
.button-fav-2:hover,
.button-wish-2:hover,
.button-wish:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
}

.button-wish {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  width: 102px;
  gap: 20px;
  background-color: white;
  padding: 5px;
  font-family: "Epilogue", sans-serif;
  font-size: 12px;
  border-radius: 4px;
}

/* -------------------- SEPARATION -------------------- */

.separation {
  padding: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgb(81, 81, 81);
}

/* -------------------- SIMILAR SECTION -------------------- */

.similar-element {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.similar-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.similar-elements {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.card-similar {
  position: relative;
  background-color: #272727;
  border-radius: 10px;
  margin-left: 15px;
  margin-bottom: 20px;
  height: 230px;
  width: 255px;
  display: flex;
  justify-content: center;
}
.card-similar:hover {
  opacity: 70%;
  cursor: pointer;
}

.card-similar img {
  width: 100%;
  display: flex;
  object-fit: cover;
}

.img-similar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 160px;
  object-fit: cover;
  image-rendering: auto;
}

.similar-title-top {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin-bottom: 20px;
}

.similar-title {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

/* -------------------- COMMENTS SECTION -------------------- */

.commentaries {
  margin-top: 50px;
}

.reviews-style {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.comment-element {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.comment-zone {
  width: 800px;
  height: 90px;
  border-radius: 10px;
  padding: 10px;
  outline-color: #32323200;
  border: none;
  background-color: #6e6e6e;
  color: white;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.comment-zone::placeholder {
  color: rgb(2, 2, 2);
  padding-top: 8px;
  font-size: 1.5em;
  text-align: center;
  opacity: 15%;
  font-weight: 100;
}

.post-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  border: none;
}

.comments-users {
  font-family: "Noto Sans Ethiopic", sans-serif;
  color: rgb(88, 88, 88);
  font-size: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.comment-zone-area {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  min-height: 400px;
}

.review-style {
  background-color: #909090;
  border-radius: 5px;
  display: flex;
  min-height: 50px;
  font-size: 22px;
  font-family: sans-serif;
  padding: 8px;
  color: #000000;
}

.username-review {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.review-date {
  color: #a0a0a0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 60%;
}

.pres-comment-zone-area {
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #252525;
  border-radius: 5px;
  min-height: 90px;
}

.first-elem-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 5px;
  min-height: 30px;
}

.style-post-button {
  cursor: pointer;
  border-radius: 8px;
  font-size: 15px;
  height: 30px;
  width: 120px;
  border: none;
}

.style-post-button:hover {
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
}

/* -------------------- REVIEW SECTION -------------------- */

.listing-games-review {
  padding: 10px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.review-card {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  background-color: #202020;
  padding: 10px;
  border-radius: 5px;
  min-width: 500px;
  max-width: 500px;
}

.review-title {
  color: rgb(192, 192, 192);
  font-family: Tahoma, sans-serif;
  padding-left: 10px;
}

.review-date-2 {
  color: #a0a0a0;
  margin-top: 3px;
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 60%;
  padding-left: 10px;
}

.review-comment-style {
  margin-top: 13px;
  background-color: #333333;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  min-width: 380px;
  margin-left: 10px;
}

.review-comment {
  color: #ffffff;
  font-size: 13px;
  font-family: "Noto Sans Thai", sans-serif;
}

.img-review img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  object-fit: cover;
}

/* -------------------- LOADING SECTION -------------------- */

.loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  border: 24px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  animation: eat 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0;
  animation: move 2s linear infinite;
}

.loader::before {
  animation-delay: 1s;
}

@keyframes eat {
  0%,
  49% {
    border-right-color: #fff;
  }
  50%,
  100% {
    border-right-color: #0000;
  }
}
@keyframes move {
  0% {
    left: 75px;
    opacity: 1;
  }
  50% {
    left: 0px;
    opacity: 1;
  }
  52%,
  100% {
    left: -5px;
    opacity: 0;
  }
}

/* -------------------- RESPONSIVE -------------------- */

@media (max-width: 1800px) {
  .card-game {
    width: calc(100% / 6 - var(--gap));
  }
  .listing-games {
    padding: 0 30px 0 15px;
  }
}

@media (max-width: 1700px) {
  .card-game {
    width: calc(100% / 5 - var(--gap));
  }
}

@media (max-width: 1520px) {
  .card-game {
    width: calc(100% / 4 - var(--gap));
  }
}

@media (max-width: 1270px) {
  .card-game {
    width: calc(100% / 3 - var(--gap));
  }
}

@media (max-width: 1090px) {
  .side-banner {
    display: none;
  }
  .parent-box-info {
    display: none;
  }

  .logo {
    display: none;
  }

  .flex1 {
    width: 80px;
  }

  .menu-icon-header {
    display: flex;
    justify-content: center;
  }
  .menu-icon-header:hover {
    opacity: 80%;
    cursor: pointer;
  }

  .side-banner-resp {
    display: block;
    top: 80px;
    width: 210px;
    position: absolute;
    z-index: 100;
    background-color: #151515;
    color: white;
    font-family: "Rajdhani", sans-serif;
    font-size: 17px;
    margin-left: 4px;
    padding: 3px;
    letter-spacing: 1px;
  }

  .nav-icon {
    display: flex;
    padding: 4px;
    gap: 6px;
    align-items: center;
  }

  .nav-icon:hover {
    text-shadow: rgba(255, 255, 255, 0.73) 1px 0 5px;
  }

  .nav-icon:hover .icon-class {
    background-color: #fff;
    color: #151515;
  }

  .icon-class {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
    border-radius: 5px;
    width: 26px;
    height: 26px;
  }

  .side-banner p {
    color: white;
    font-family: "Rajdhani", sans-serif;
    font-size: 17px;
    margin-left: 4px;
    padding: 3px;
    letter-spacing: 1px;
  }

  .side-section {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .side-title {
    color: white;
    font-family: "Anybody", sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
  }

  .card-game {
    width: calc(100% / 4 - var(--gap));
  }
}

@media (max-width: 1090px) {
  .card-game {
    width: calc(100% / 3 - var(--gap));
  }
}
